.container {
  position: absolute;
}

.label {
  font-family: sans-serif;
  font-size: 1.3rem;
}

.dropdown {
  margin-top: 5px;
}

.select {
  font-family: sans-serif;
  font-size: 1.3rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: lightgrey;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.container1 {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
